<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="dns-prefetch" href="https://fonts.gstatic.com" crossorigin />

    <link rel="icon" type="image/svg+xml" href="/my-common-patterns/favicon.svg" />
    <link rel="icon" type="image/png" href="/my-common-patterns/favicon.png" />

    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Sans:wght@400;700&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Sans:wght@400;700&display=swap"
        rel="stylesheet"
      />
    </noscript>

    <title>My common patterns — @rootEnginear</title>
  </head>
  <body>
    <main>
      <header class="f main-header">
        <img src="favicon.png" alt="" width="64" height="64" />
        <div>
          <h1>My Common Patterns</h1>
          <p>Pattern CSS/JS ที่มักจะใช้บ่อยๆ ตอน Dev จะได้เปิดมา Copy ง่ายๆ</p>
        </div>
      </header>
      <slot />
      <footer class="main-footer">
        Copyright &copy; {new Date().getFullYear()} Suthep Chanchuphol <span class="nw"
          >All right reserved.</span
        >
        <br />
        <small>Build: {Date.now().toString(36)}</small>
      </footer>
    </main>
    <style is:global>
      @font-face {
        font-family: "Noto Sans Thai Looped";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://notofonts.github.io/thai/fonts/NotoSansThaiLooped/hinted/ttf/NotoSansThaiLooped-Regular.ttf)
          format("truetype");
        unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC, U+0000-00FF, U+0131, U+0152-0153,
          U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
          U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      @font-face {
        font-family: "Noto Sans Thai Looped";
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://notofonts.github.io/thai/fonts/NotoSansThaiLooped/hinted/ttf/NotoSansThaiLooped-Bold.ttf)
          format("truetype");
        unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC, U+0000-00FF, U+0131, U+0152-0153,
          U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
          U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }

      :where(*, *::before, *::after) {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      :where(html) {
        color-scheme: dark light;
        text-size-adjust: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
      }

      :where(.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden)) {
        clip-path: inset(50%) !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden !important;
        position: absolute !important;
        white-space: nowrap !important;
        border: 0 !important;
      }

      body {
        font-family: "Noto Sans Thai Looped", "Noto Sans", system-ui, -apple-system,
          BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
          "Fira Sans", "Droid Sans", "Helvetica Neue", "Segoe UI Emoji",
          "Apple Color Emoji", "Noto Color Emoji", sans-serif;
        letter-spacing: 0.2px;

        padding: 32px 16px;
      }

      main {
        max-width: 800px;
        margin: auto;
      }

      .f {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .nw {
        white-space: nowrap;
      }

      .main-header {
        margin-bottom: 32px;
      }

      .main-footer {
        text-align: center;
        margin-top: 32px;
      }

      code {
        background: #22272e;
        color: #fff;
        padding: 2px 4px;
        border-radius: 4px;

        font-family: "JetBrains Mono", "Noto Sans Thai Looped", Consolas, "Andale Mono WT",
          "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
          "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
          "Courier New", Courier, "Segoe UI Emoji", "Apple Color Emoji",
          "Noto Color Emoji", monospace;
        font-size: 0.9em;
        letter-spacing: 0.1px;
      }
    </style>
  </body>
</html>
