<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/my-common-patterns/favicon.svg" />
    <link rel="icon" type="image/png" href="/my-common-patterns/favicon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@400;700&family=JetBrains+Mono&display=swap"
      rel="stylesheet"
    />

    <title>My common patterns — @rootEnginear</title>
  </head>
  <body>
    <main>
      <header class="f main-header">
        <img src="favicon.png" alt="" width="64" height="64" />
        <div>
          <h1>My Common Patterns</h1>
          <p>Pattern CSS/JS ที่มักจะใช้บ่อยๆ ตอน Dev จะได้เปิดมา Copy ง่ายๆ</p>
        </div>
      </header>
      <slot />
      <footer class="main-footer">
        Copyright &copy; {new Date().getFullYear()} Suthep Chanchuphol All right reserved.
        <br />
        <small>Build: {Date.now().toString(36)}</small>
      </footer>
    </main>
    <style is:global>
      :where(*, *::before, *::after) {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      :where(html) {
        color-scheme: dark light;
        text-size-adjust: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
      }

      :where(.visually-hidden:not(:focus, :active, :focus-within, .not-visually-hidden)) {
        clip-path: inset(50%) !important;
        height: 1px !important;
        width: 1px !important;
        overflow: hidden !important;
        position: absolute !important;
        white-space: nowrap !important;
        border: 0 !important;
      }

      body {
        font-family: "IBM Plex Sans Thai Looped", system-ui, -apple-system,
          BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
          "Fira Sans", "Droid Sans", "Helvetica Neue", "Segoe UI Emoji",
          "Apple Color Emoji", "Noto Color Emoji", sans-serif;
        line-height: 1.5;
        letter-spacing: 0.1px;

        padding: 32px 16px;
      }

      main {
        max-width: 800px;
        margin: auto;
      }

      .f {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .main-header {
        margin-bottom: 32px;
      }

      .main-footer {
        text-align: center;
        margin-top: 32px;
      }
    </style>
  </body>
</html>
