---
import Layout from "./_layout.astro";
import { GithubBlog } from "@rena.to/github-blog";
import Article from "../components/article.astro";

const blog = new GithubBlog({
  repo: "rootenginear/my-common-patterns",
  token: import.meta.env.TOKEN,
});

const posts = await blog.getPosts({
  query: { type: "post", state: "published" },
  pager: { limit: 100 },
});

const slugs = posts.edges.map((post) => post.post.labels.slug?.[0]);
---

<Layout>
  <main>
    <header class="f main-header">
      <img src="favicon.png" alt="" width="64" height="64" />
      <div>
        <h1>My Common Patterns</h1>
        <p>Pattern CSS/JS ที่มักจะใช้บ่อยๆ ตอน Dev จะได้เปิดมา Copy ง่ายๆ</p>
      </div>
    </header>
    {slugs.map((slug) => slug && <Article slug={slug} />)}
  </main>
</Layout>

<style>
  .main-header {
    margin-bottom: 32px;
  }
</style>
