---
import Layout from "./_layout.astro";
import { GithubBlog } from "@rena.to/github-blog";

const blog = new GithubBlog({
  repo: "rootenginear/my-common-pattern",
  token: import.meta.env.TOKEN,
});

const posts = await blog.getPosts({
  query: { type: "post", state: "published" },
  pager: { limit: 100 },
});
---

<Layout>
  <h1>My Common Pattern</h1>
  <ul>
    {
      posts.edges.map((post) => (
        <li>
          <a href={`./${post.post.labels.slug?.[0]}`}>{post.post.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
